<div class="modal" id="testMicrophoneModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Test Microphone</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="alert alert-danger" role="alert"><b>WARNING: </b>be careful when increasing the gain value as
                    you may create loopback if you are not wearing headphones.</p>
                <div class="form-group">
                    <label for="gainSliderTestMic">Mic Input Gain: <output id="current-input-gain-test-mic">
                            1</output></label>
                    <input type="range" class="form-control-range" value="1" id="gainSliderTestMic" min="1" max="50"
                        list="markers-test-mic">
                </div>
                <div class="wrapper-test-mic">
                    <section class="main-controls-test-mic">
                        <canvas class="visualizer-test-mic" height="100px"></canvas>
                        <div class="buttons-test-mic">
                            <button class="button-test-mic record-test-mic">Record</button>
                            <button class="button-test-mic stop-test-mic">Stop</button>
                        </div>
                    </section>
                    <section class="sound-clips-test-mic"></section>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="nav-link" href="#" id="testmicrophone" data-toggle="modal" data-target="#testMicrophoneModal">
    <i class="fas fa-microphone"></i> TEST MIC
</a>